<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h2>修改密碼</h2>
    <h3>
        <form id = Revise>
            Email<input type="text" name="email" id=""><br>
            New_password<input type="text" name="password" id=""><br>
            <button id = ReviseBtn type="submit">修改密碼</button>
        </form>
    </h3><br>

    <h2>刪除資料</h2>
    <h3>
        <form  id="Remove">
            E-mail<input type="text" name="email" id=""><br>
            PassWord<input type="password" name="password" id=""><br>
            <button id = "RemoveBtn">刪除資料</button>
        </form>
    </h3>
    <table border="1">
        <thead>
            <th>_id</th>
            <th>name</th>
            <th>email</th>
            <th>password</th>
        </thead>
        <tbody>
            {% for Data in AllData %}
            <tr>
                <td>{{Data['_id']}}</td>
                <td>{{ Data['nikename'] }}</td>
                <td>{{ Data['email'] }}</td>
                <td>{{ Data['password']}}</td>
            </tr>
            {% endfor %} 
            
        </tbody>
    </table>

<script>
    const apiConfig = {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            }
            
            const ReviseBtn = document.getElementById('ReviseBtn'); // 綁定 ReviseBtn 按鈕
            const Revise = document.getElementById('Revise'); // 綁定 Revise 表單

            const RemoveBtn = document.getElementById('RemoveBtn'); // 綁定 RemoveBtn 按鈕
            const Remove = document.getElementById('Remove'); // 綁定 Remove 表單

  

            Revise.addEventListener('submit', (e) => {
                e.preventDefault();
    
                const data = {
                    email: document.querySelector('input[name="email"]').value,
                    password: document.querySelector('input[name="password"]').value
                }
    
                fetch('http://127.0.0.1:3000/Revise', {...apiConfig, method: 'POST', body: JSON.stringify(data)})
                    .then((response) =>{
                        return response.json();
                    })
                    .then((jsonData) => {
                        // 這邊看妳回傳的是什麼類型的data，然後做處理(類似前面)
                        console.log(jsonData);
                    })
                    .catch((err) => {
                        console.log('錯誤:', err);
                    });
            })          
    
            Remove.addEventListener('submit', (e) => {
                e.preventDefault();
    
                const data = {
                    email: document.querySelector('input[name="email"]').value
                }
    
                fetch('http://127.0.0.1:3000/remove', {...apiConfig, method: 'POST', body: JSON.stringify(data)})
                    .then((response) =>{
                        return response.json();
                    })
                    .then((jsonData) => {
                        // 這邊看妳回傳的是什麼類型的data，然後做處理(類似前面)
                        console.log(jsonData);
                    })
                    .catch((err) => {
                        console.log('錯誤:', err);
                    });
            })  

</script>

</body>
</html>