<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>會員系統首頁</h2>
        <div class="">
            <h3>會員註冊
                <form  id="form_signUp">
                    Name<input type="text" name="nikename" id=""><br>
                    E-mail<input type="text" name="email" id=""><br>
                    PassWord<input type="password" name="password" id=""><br>
                    <button id="signupBtn"  type="submit">註冊</button>
                </form>
            </h3>
        </div><br>

        <div class="">
            <h3>會員登入
                <form  id="form_signIn">
                    E-mail<input type="text" name="email" id=""><br>
                    PassWord<input type="password" name="password" id=""><br>
                    <button id = "signinBtn">登入</button>
                </form>
            </h3>
        </div>
    
        <script>
            const apiConfig = {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            }
            
            const signupBtn = document.getElementById('signupBtn'); // 綁定 signupBtn 按鈕
            const form_signUp = document.getElementById('form_signUp'); // 綁定 form_signUp 表單

            const signinBtn = document.getElementById('signinBtn'); // 綁定 signinBtn 按鈕
            const form_signIn = document.getElementById('form_signIn'); // 綁定 form_signIn 表單

            
    
            form_signUp.addEventListener('submit', (e) => {
                e.preventDefault();
    
                const data = {
                    nikename: document.querySelector('input[name="nikename"]').value,
                    email: document.querySelector('input[name="email"]').value,
                    password: document.querySelector('input[name="password"]').value
                }
    
                fetch('/signup', {...apiConfig, method: 'POST', body: JSON.stringify(data)})
                    .then((response) =>{
                        return response.json();
                    })
                    .then((jsonData) => {
                        // 這邊看妳回傳的是什麼類型的data，然後做處理(類似前面)
                        console.log(jsonData);
                    })
                    .catch((err) => {
                        console.log('錯誤:', err);
                    });
            })
            
            form_signIn.addEventListener('submit', (e) => {
                e.preventDefault();
    
                const data = {
                    email: document.querySelector('input[name="email"]').value,
                    password: document.querySelector('input[name="password"]'.value)
                }
    
                fetch('http://127.0.0.1:3000/signin', {...apiConfig, method: 'POST', body: JSON.stringify(data)})
                    .then((response) =>{
                        return response.json();
                    })
                    .then((jsonData) => {
                        // 這邊看妳回傳的是什麼類型的data，然後做處理(類似前面)
                        console.log(jsonData);
                    })
                    .catch((err) => {
                        console.log('錯誤:', err);
                    });
            })
    
        </script>
</body>
</html>